* { 
    border: 1px solid black; 
    margin: 10px;
    font-family: Verdana;
}

header {
    background-color: #DEAD8B;
}

main {
    background-color: #AD1B43;
}

#name {
    animation: 3s ease-in 1s infinite reverse both running;
    font-style: oblique;
}

.project {
    background-color: #837466;
    margin: 0;
    min-width: 40%;
    padding: 10px; 
}

#project-list {
    display: flex;
    flex-wrap: wrap;
}